<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
    <table>
        <tr>
            {% for post in keys %}
                <th>{{ post }}</th>
            {% endfor %}
        </tr>
        {% for post in worker %}
            <tr>
                {% for variable in post.all %}
                    <th>{{ post.variable }}</th>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <!--
    {% for post in worker %}
        <h2>{{ post.customers_id }}</h2>
    {% endfor %}
    -->
</body>
</html>